name: [CI] Run tests in Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image and run the tests
      run: docker build . --file Dockerfile --tag soltests && docker run soltests
